*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.main_nav{
  z-index: 2;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}
.main_container{
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #000;
  justify-content: space-between;
  padding: 1vh 5vw;
}
.navbar-brand{
  width: 10%;
}
.main_nav img{
  height: 100%;
}
.main_nav .nav_pc{
  display: inline-flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.main_nav .nav_pc, li a{
  color: #fff;
}

/*mobile menu*/
.main_nav .nav_mobile{
  display: flex;
  position: absolute;
  top: -10vh;
  left: 0;
  width: 100%;
  background-color: #000;
  flex-flow: column;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.main_nav .nav_mobile li a{
  color: #fff;
}
@media (max-width:768px){
  .main_nav .nav_pc{
    display: none;
  }
}